@using Replay.Services
@using Replay.ViewModels.ProcessViewModels
@using System.Text.Json;
@model TaskDetailsViewModel
@using Replay.Enumerations 
@{
    ViewBag.Title = "Neue Aufgabe erstellen";
    
}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neue Aufgabe erstellen</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            @* padding: 20px; *@
            background-color: #fff;
        }
        .container {
            background-color: #e0e0e0;
            border-radius: 0px;
            padding: 20px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            @* position: relative; *@
            width: 75%;
            margin: 0 auto;

        }
        h1 {
            font-size: 24px;
            margin-bottom: 20px;
            text-align: center;
        }
        .row {
            display: flex;
            margin-bottom: 20px;
            position: relative;
        }
        .column {
            flex: 1;
            padding: 10px;
            position: relative;
        }
        label {
            display: block;
            font-weight: bold;
            margin-bottom: 5px;
        }
        input[type="text"],  input[type="number"], select, textarea, .button {
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border: 1px solid #ccc;
            box-sizing: border-box;
            transition: .3s;
        }
        .button-group {
            display: none; /* Buttons unter dem Titel verstecken */
        }
        .action-button {
            background: none;
            color: #000;
            cursor: pointer;
            font-size: 14px;
            padding: 0;
            border: none;
        }
        .action-button:hover {
            text-decoration: none;
        }
        .action-button-save {
            font-weight: bold;
        }
        .rounded-box {
            user-select: none;
            display: inline-block;
            background-color: #d0d0d0;
            padding: 10px 20px;
            margin: 5px;
            border-radius: 0px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }
        .selected {
            background-color: #FFB199;
        }
        .close-button {
            position: absolute;
            top: 10px;
            right: 10px;
            background: none;
            border: none;
            font-size: 16px;
            cursor: pointer;
        }
        .custom-select {
            position: relative;
            width: 150px; /* Anpassen der Breite je nach Bedarf */
            margin-bottom: 10px;
            display: flex;
        }
        .custom-select select {
            width: 100%;
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
            background-color: #fff;
            font-size: 14px;
            cursor: pointer;
        }
        .contract-type {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            justify-content: flex-start; /* Vertragstypen links ausrichten */
        }
        .contract-type .rounded-box {
            margin-right: 10px; /* Abstand zwischen den Vertragstypen */
            margin-bottom: 10px;
        }
        .departments {
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
            justify-content: flex-start; /* Abteilungen rechts ausrichten */
        }
        .departments .rounded-box {
            margin-left: 10px; /* Abstand zwischen den Abteilungen */
            margin-bottom: 10px;
        }
        .save-btn {
            position: absolute;
            @* bottom: 20px; *@
            right: 20px;
            @* background-color: #808080; /* Graue Hintergrundfarbe */ *@
            background-color: #575556;
            color: white; /* Textfarbe weiß */
            border: none;
            padding: 10px 20px;
            border-radius: 0px;
            cursor: pointer;
            font-weight: bold;
        }
        .save-btn:hover {
            background-color: #0056b3; /* Dunkleres Grau bei Hover */
        }
        .custom-due-date {
            display: flex;
            position: relative;
        }

        .back-button {        
            border: none;
            background-color: #575556;
            color: white;
            border: none;
            cursor: pointer;
            padding: 10px 20px;
            border-radius: 0px;
            font-size: 1em;
            text-decoration: none;
        }

        .back-button:hover {
            background-color: #0056b3;
        }

        .delete-task{
            background: none;
            border: none;
            cursor: pointer;
            color: #080808; 
            margin-right: 20px;
        }

        .delete-task:hover{
            background-color: #c9302c; /* Hover-Farbe */
            @* not sure why it does not work  #TODO    *@
            @* color: red; *@
        }

        input:focus, textarea:focus {
            background-color: var(--grey-2);
            outline: none;
            
        }

    </style>
</head>
<body>
    <div class="container">
        <button class="close-button" onclick="closeDialog()">&times;</button>
        <h1>Aufgabe Bearbeiten</h1>
        <form method="post" asp-action="UpdateTask" onsubmit="validateLists()">
        <div class="row">
            <div class="column">
                <label for="title">Titel</label>
                <input type="text" id="title" name="Title" value="@Model.Title">
            </div>
            <div class="column">
                <label for="responsible">Aufgabenzuständiger</label>
                <select id="responsible" name="TaskResponsible">
                    <option value="responsibleperson" selected>Vorgangsverantwortiche(r)</option>
                    <option value="referenceperson" >Bezugsperson</option>
                    <option value="role" >Rolle</option>
                </select>
                <span asp-validation-for="TaskResponsible" class="validation-text"></span>

                <div id="roles-container">
                    @foreach (var role in Model.Roles)
                    {   
                        <span class="rounded-box select-btn-roles">@role</span>
                    }
                </div>
                
            </div>
        </div>
        <div class="row">
            <div class="column">
                <label for="description">Beschreibung</label>
                <textarea id="description" name="Description" rows="4">@Model.Description</textarea>
            </div>
            <div class="column">
                <label>Abteilungen</label>
                <div class="departments" id="departments"></div>
                    @foreach (Department department in Enum.GetValues(typeof(Department)))
                    {
                        <span class="rounded-box select-btn-dpts">@EnumMapperService.GetDepartmentName(department)</span>
                    }
                </div>
            
        </div>
        <div class="row">
            <div class="column">
                <label for="dueDate">Fälligkeitsdatum</label>
                <div class="custom-select">
                    <select id="dueDate" name="DueDateDefault">
                        @foreach (DueDateEnum dd in Enum.GetValues(typeof(DueDateEnum)))
                        {   
                            
                            if (dd == DueDateEnum.ASAP) {
                                <option value="@EnumMapperService.GetDueDate(dd)" selected>@EnumMapperService.GetDueDate(dd)</option>
                            } else {
                                <option value="@EnumMapperService.GetDueDate(dd)">@EnumMapperService.GetDueDate(dd)</option>

                            }
                        }
                        <option value="custom">Custom</option>
                        
                    </select>
                </div>
            </div>
            <div class="column">
                <label>Vertragstyp</label>
                <div class="contract-type" id="contract-types">
                    @foreach (ContractType contractType in Enum.GetValues(typeof(ContractType)))
                    {
                        <span class="rounded-box select-btn-cts">@EnumMapperService.GetContractType(contractType)</span>
                    }
                </div>
            </div>
        </div>
        <div class="row">
            <div class="column" id="custom-duedate-container">
                <label>Zieldatum Wählen</label>
                <div class="row" style="align-items: center;">
                    <div class="custom-due-date">
                        
                        <div>
                            <input type="number" min="0" id="dueDateNumber" name="DueDateCounter" value="@Model.DueDateCounter" />
                        </div>
                        <div >
                            <select id="dueDateUnit" name="DueDateTimeUnit" >
                                <option value="days" selected>Tage</option>
                                <option value="weeks" >Wochen</option>
                                <option value="months">Monate</option>
                                <option value="years">Jahre</option>
                            </select>
                        </div>
                        <div>
                            <select id="dueDateDirection" name="DuedateIsBefore" >
                                <option value="false" selected>Nach</option>
                                <option value="true">Vor</option>
                            </select>
                        </div>
                        
                        <div >
                            <input type="text" disabled value="Zieldatum"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <input type="hidden" name="ProcessId" value="@Model.ProcessId" />
        <input type="hidden" name="Id" value="@Model.Id" />
        @* <button class="save-btn" type="submit">Speichern</button> *@

        <div class = "row">
            <div class = "column">
                @* <a class="close-button" href="@Url.Action("Index", "Processes")">&times;</a> *@ 
                <a href="@Url.Action("Index", "Processes")" class="back-button">Zurück</a>
            </div>
            <button type="submit" class="save-btn">Speichern</button>
        </form>
            <div class ="column">
                <form method="post" asp-action="DeleteTask" class="delete-Task" style="display:inline;" onsubmit="return confirm('Sind Sie sicher, dass Sie diese Aufgabe löschen möchten?');" >
                    @Html.AntiForgeryToken()
                    
                    <input type="hidden" name="taskId" value="@Model.Id" />
                    <input type="hidden" name="processId" value="@Model.ProcessId" />
                    @{Console.WriteLine(Model.ProcessId);
                    Console.WriteLine(Model.Id);
                    Console.WriteLine("Plankton");}

                    <button class="delete-task" type="submit" title="Löschen">
                        <img src="~/public/Delete.png" alt="Search Icon" style="width: 28px; height: 28px ; pointer-events: none; vertical-align: middle">
                    </button>
                </form>
            </div>

            
            
        </div>

        
    </div>
    <script>
        
        let btnDepartments = document.getElementsByClassName("select-btn-dpts");
        let btnCts = document.getElementsByClassName("select-btn-cts");
        let btnRoles = document.getElementsByClassName("select-btn-roles");
        let depContainer = document.getElementById("departments");
        let ctContainer = document.getElementById("contract-types");
        let rolescontainer = document.getElementById("roles-container");
        rolescontainer.style.display = "none";
        let customDueDateContainer = document.getElementById("custom-duedate-container");
        customDueDateContainer.style.display = "none";
        let dueDateSelector = document.getElementById("dueDate"); 
        let taskResponsibleSelect = document.getElementById("responsible");
        let responsibleType = '@Model.TaskResponsible';

       
        let departments = [];
        let contractTypes = [];
        let taskResponsibleRole;
        

        function importedDataValidation() {
            //Roles
            let options = taskResponsibleSelect.children;
            for (let k = 0; k < options.length; k++) {
                if (options[k].value == responsibleType) {
                    options[k].selected = true;
                    if (options[k].value == "role") {
                        rolescontainer.style.display = "flex"
                        for (let i = 0; i < btnRoles.length; i++) {
                            if (btnRoles[i].innerHTML == '@Model.TaskResponsibleRole') {
                                btnRoles[i].classList.toggle("selected");
                                toggleRoles(btnRoles[i]);
                            }
                        }
                    }
                }
            }
            
            //Departments   
            var deps = @Html.Raw(JsonSerializer.Serialize(Model.Departments));
            for (let k = 0; k < btnDepartments.length; k++) {
                for (let i = 0; i < deps.length; i++) {
                    
                    if (btnDepartments[k].innerHTML == deps[i]) {
                        btnDepartments[k].classList.toggle("selected");
                        toggleDepartments(btnDepartments[k]);
                    }
                }
            }

            //DueDate
            dueDateSelector.value = '@Model.DueDateDefault';
            if ('@Model.DueDateDefault' == "custom") {
                customDueDateContainer.style.display = "block";
                let unit = document.getElementById("dueDateUnit");
                let isbefore = document.getElementById("dueDateDirection");
                unit.value = '@Model.DueDateTimeUnit';
                isbefore.value = '@Model.DueDateIsBefore'.toLowerCase();
            }

            //contract-types
            var conTypes = @Html.Raw(JsonSerializer.Serialize(Model.ContractTypes));
            for (let k = 0; k < btnCts.length; k++) {
                for (let i = 0; i < conTypes.length; i++) {
                    
                    if (btnCts[k].innerHTML == conTypes[i]) {
                        btnCts[k].classList.toggle("selected");
                        toggleContractTypees(btnCts[k]);
                    }
                }
            }
        }
        importedDataValidation();
        

        taskResponsibleSelect.addEventListener("change", (e) => {
            if (taskResponsibleSelect.value == "role") {
                rolescontainer.style.display = "flex";
            } else {
                rolescontainer.style.display = "none";
            }
        });
        

        dueDateSelector.addEventListener("change", (e) => {
            if (dueDateSelector.value == "custom") {
                customDueDateContainer.style.display = "block"
            } else {
                customDueDateContainer.style.display = "none"
            }
        })

        for (let i = 0; i < btnRoles.length; i++) {
            btnRoles[i].addEventListener("click", () => {
                btnRoles[i].classList.toggle("selected");
                toggleRoles(btnRoles[i]);
            });
        }
        for (let i = 0; i < btnDepartments.length; i++) {
            btnDepartments[i].addEventListener("click", () => {
                btnDepartments[i].classList.toggle("selected");
                toggleDepartments(btnDepartments[i]);
            });
        }
        for (let i = 0; i < btnCts.length; i++) {
            btnCts[i].addEventListener("click", () => {
                btnCts[i].classList.toggle("selected");
                toggleContractTypees(btnCts[i]);
            });
        }
        

        function validateLists() {
           
            //TaskResponsibleRole
            if (taskResponsibleRole != null) {
                let newElement = document.createElement("input");
                newElement.type = "hidden";
                newElement.name = "TaskResponsibleRole";
                newElement.value = taskResponsibleRole.innerHTML;
                rolescontainer.appendChild(newElement);
            }  
            
            //Selected departments
            
            departments.forEach(e => {
                let newElement = document.createElement("input");
                newElement.type = "hidden";
                newElement.name = "Departments[]";
                newElement.value = e.innerHTML;
                depContainer.appendChild(newElement);
            });
            
            
            //Selected Contracttypes
           
            contractTypes.forEach(e => {
                let newElement = document.createElement("input");
                newElement.type = "hidden";
                newElement.name = "ContractTypes[]";
                newElement.value = e.innerHTML;
                ctContainer.appendChild(newElement);
            });
            
            
        }

        function toggleDepartments(selected) {
            let dupl = -1;
            for (let i = 0; i < departments.length; i++) {
                if (departments[i].innerHTML === selected.innerHTML) {
                    dupl = i;
                }
            }
            if (dupl != -1) {
                departments.splice(dupl,1);
            } else {
                departments.push(selected);
            }
            
        }
        function toggleRoles(selected) {
            
            for (let i = 0; i < btnRoles.length; i++) {
                if (btnRoles[i] != selected)
                    btnRoles[i].classList.remove("selected");
            }
            taskResponsibleRole = selected;
        }

        function toggleContractTypees(selected) {
            let dupl = -1;
            for (let i = 0; i < contractTypes.length; i++) {
                if (contractTypes[i].innerHTML === selected.innerHTML) {
                    dupl = i;
                }
            }
            if (dupl != -1) {
                contractTypes.splice(dupl,1);
            } else {
                contractTypes.push(selected);
            }
            console.log(contractTypes);
        }
    </script>
</body>
</html>